header{
    background-color:lightgrey;
}
.body1{
    background-color: whitesmoke;
}
.body2{
    background-color:lightyellow;
    text-align: center;
}
.body3{
    background-color:#C9ECB5;
}
.body4{
    background-color:#FFD77C;
    text-align: center;
}
footer{
    background-color: #C9ECB5;

}
.street1{
    text-align:center
}
body{
    font-family:'Times New Roman', Times, serif;
}
.list {
    float:left;
    justify-content: space-between;
    align-items: center;
}
